body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#enterTweet,#waiting,#showWinner{
    display: none;
}

.voteTweet{
    cursor: pointer;
}
.voteTweet:hover{
    color: LightBlue;
}

#winner{
    color: LightGreen;
}
#winningTweet{
    color: LightBlue;
}